.card_content {
  display: flex;
  align-items: center;
  justify-content: center;

  .MuiPaper-elevation3 {
    padding: 10px;
    margin-right: 10px;
  }

  .card_content-paper-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      margin-bottom: 10px;
    }
  }
}

.card_img-container {
  height: 100%;

  div {
    width: 300px;
    height: 100%;
    padding: 0 !important;
    position: inherit !important;
  }

  img {
    width: 100%;
    height: auto !important;
    position: relative !important;
  }
}

.card_stars-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;

  li {
    margin-right: 20px;

    div {
      margin: auto;
    }
  }
}

.MuiAvatar-colorDefault {
  background-color: #aab7ff !important;
}

.text-article {
  color: #2196f3;
  text-shadow: 2px 2px #80808091;
}

.text-article:hover {
  color: #45a8f7;
}

.MuiCardActions-root {
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-device-width:600px) {
  .card_content {
    flex-wrap: wrap;
  }

  .MuiTypography-h3 {
    text-align: center;
  }

  .MuiCardActions-root {
    margin: 0;
  }
}
