$base-navbar-width: 13%;

.categories {
  display: flex;
  width: 100%;
}

.category-item {
  background-color: yellow;
  padding: 5px;
  margin-bottom: 10px;
}

.categories-content {
  width: 100% - $base-navbar-width;
}

.categories-navbar {
  width: $base-navbar-width;
  background-color: yellowgreen;
  padding: 20px;

  h2 {
    margin-bottom: 10px;
  }
}

