html,
body,
#root,
.about {
  height: 100%;
}

.MuiPaper-root {
  height: auto !important;
}

.about {
  display: flex;
  height: 100%;
  width: 100%;

  .about_pic {
    padding: 100px;
    max-width: 50vw;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .about_content {
    margin-top: 100px;
  }

  .text-article {
    color: #2196f3;
    text-shadow: 2px 2px #80808091;
  }
}

.category-content_description {
  width: 80%;
}

.stars-content_items {
  display: flex;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
  }
}

.stars-content,
.category-content {
  margin: 20px 0;
  width: 80%;
}

@media only screen and (max-device-width:900px) {
  .about {
    flex-direction: column;

    .about_pic {
      padding: 59px 0 0 0;
    }

    .about_content {
      padding: 0 10px 20px 20px;
    }
  }
}
