$base-border-radius: 4px;

.search {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.search-input {
  border-radius: $base-border-radius;
  border: 1.2px solid #ced4da;
  color: black;
  margin-right: 5px;
  padding: 8px;
}

.search-button {
  margin-left: 10px !important;
}
