$base-border-radius: 4px;

.search {
  display: flex;
  align-items: center;
}

.search-input {
  border-radius: $base-border-radius;
  border: 1.2px solid #ced4da;
  color: black;
  margin-right: 5px;
  padding: 8px;
}

.search-button {
  margin-left: 10px !important;
}

// .MuiAutocomplete-inputRoot {
//   padding: 0 !important;
// }

// .MuiFormControl-fullWidth {
//   margin: 0 !important;
// }
