.login {
  margin-top: 20px;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    padding: 0 !important;
    position: inherit !important;

    img {
      position: relative !important;
    }
  }

  button {
    padding: 2px !important;
  }
}
