.login {
  margin-top: 20px;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-content {
  background-color: #4791db;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  border-radius: 4px;
}
